@media (max-width: 1170px) {
  .gallary__item {
    max-width: 100%; 
    margin: 0 20px;
    flex-shrink: 0;
    &-img {
      width: 90%;
    }
  }
}
@media (max-width: 1120px) {
  .header__content {
    margin: 50px 0;
  }
  .filter__content {
    bottom: 0;
  }
  .features {
    &__cards {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .features__item  {
    margin: 20px;
  }
}
@media (max-width: 1020px) {
  .video-block {
    &__inner {
      flex-direction: column;     
    } 
  }
  .video-block__content {
    flex-basis: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .testimonials {
    &__inner {
      background-size: 50%;
    }
  }
  .newsletter__content {
    margin-left: 50px;
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
  }
  .footer__content {
    margin-bottom: 30px;
  }
}
@media (max-width: 920px) {
  .header__content {
    max-width: 50%;
  }
  .header__slider {
    max-width: 50%;
    &-item {
      &::before {
        left: 102px;
      }
    }
  }
}
@media (max-width: 860px) {
  .header {
    &__inner {
      flex-direction: column;
      margin-top: 30px;
    }
  }
  .header__content {
    max-width: 100%;
    margin: 20px 0 30px;
     &-title {
      margin-bottom: 5px;
     }
  }
  .header__slider {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }
  .filter__content {
    padding: 20px 10px;
    max-width: 100%;
    justify-content: space-between;
    
    bottom: -20px;
    &-form {
      padding: 0 15px;
    }
  }
  .testimonials {
    &__inner {
      background-image: linear-gradient(180deg,rgba(153, 93, 81, 0.7),rgba(228,134,172,0.7)), url(../images/testimonials-img.jpg);
      background-size: cover;
    }
      &__slider {     
      margin: 0 auto;
    }
  }
  .newsletter {
     &__inner {
       flex-direction: column;
      img {
        width: 100%;
        object-fit: cover;
        height: auto;
        margin-bottom: 30px;
      }
    } 
  }
  .newsletter__content {
    margin-left: 0;
    flex-basis: 100%; 
    padding-bottom: 50px;
    &-input {
      max-width: 100%;
    }
  }
}
@media (max-width: 660px) {
  .header {
    padding-top: 30px;
    min-height: 75vh;
  }
  .header-top {
    .button-burger {
      display: block;
      margin-left: 25px;
    }
    &__menu {
      margin: 0 auto;
    }
    &__menu-list {
      position: absolute;
      flex-direction: column;
      margin-left: 0;
      top: 80px;
      align-items: center;
      left: 0;
      right: 0;
      transform: translateY(-200%);
      width: 100%;
      background-color: rgb(244,126,103);
      background: linear-gradient(0deg, rgba(244,126,103,1) 0%, rgba(228,134,172,1) 100%);
      z-index: 20;
      transition: all 0.9s;
    }
    .header-top__menu-list--active {
      transform: translateY(0);
    }
    &__menu-link {
      margin-left: 0;
      margin: 10px 0;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
    }
  }
  .header__slider {
    display: none;
  }
  .filter__content {
    display: none;
  
  }
  .filter__content--active {
    display: block;
    bottom: 0;
  }
  .filter__content-form {
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 1px;
      height: 42px;
      background-color: $accent-color;
    }
  }
  .filter__content-btn {
    display: block;
    border: none;
    background-color: $accent-color;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 105;
  }
 
  .video-block,
  .features,
  .gallary,
  .footer {
    padding-top: 50px;
  }
  .testimonials {
    padding: 50px 0 100px;
  }

  .gallary {
    &__filter-btn {
      flex-wrap: wrap;
    }
  } 
  .gallary__item {
    text-align: center;   
    &-img {
      height: 100%;
    }
  }
}
@media (max-width: 600px) {
  .testimonials__item {
    &-content {
      padding-top: 0;
    }
  }
  .gallary {
    padding-top: 140px;
    &-tab {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
@media (max-width: 500px) {
  .testimonials {
    &__slider {
      padding: 10px;
    }
  }
}











// jq-selectbox jqselect filter__content-price select-style dropdown opened